<template>
    <div>
        <div id="main-content" class="container">
            <div class="row">
                <div class="col-md-6">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="connect">WebSocket connection:</label>
                            <button id="connect" class="btn btn-default" type="submit" :disabled="connected == true" @click.prevent="connect">Connect</button>
                            <button id="disconnect" class="btn btn-default" type="submit" :disabled="connected == false" @click.prevent="disconnect">Disconnect
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="name">Message</label>
                            <input type="text" id="name" class="form-control" v-model="send_message">
                        </div>
                        <button id="send" class="btn btn-default" type="submit" @click.prevent="send">Send</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table id="conversation" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Greetings</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in received_messages" :key="item">
                                <td>{{ item }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Socket from "../sockets/socket"

export default {
  name: "socketChat",
  data() {
    return {
      received_messages: [],
      send_message: null,
      socket: new Socket()
    };
  },
  computed: {
    connected () {
      return this.socket.connected
    }
  },
  methods: {
    send() {
      this.socket.send(this.send_message)
    },
    connect() {
      this.socket.connect((msg) => {this.received_messages.push(msg)})
    },
    disconnect() {
      this.socket.disconnect()
    },
    tickleConnection() {
      this.socket.tickleConnection()
    }
  },
  mounted() {
    // this.connect();
  }
};
</script>

<style scoped>

</style>